body {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
}

section.repository-list {
    margin: 40px;
    background-color: #ffffffc2;
    padding: 40px;
    border: 1px solid #00000030;
    box-shadow: #0000004a 3px 1px 5px -1px;

    h1 {
        margin-bottom: 15px;
        color: #000000bd;
        text-align: center;
    }

    div{
        text-align: center;
        margin-top: 30px;
    }

    ul {
        list-style: none;

        li {
            & + li {
                margin-top: 20px;
            }
        }

        p {
            font-size: 14px;
            color: #444;
            margin-top: 8px;
        }

        a {
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            color: #8257e6;
        }

        strong{
            text-align: center;
            padding: 20px 0px;
        }
    }
    
    hr{
        margin: 30px 5px;
    }
}

@media (min-width: 400px){
    section.repository-list{
        width: 400px;
    }
}
